.button {
    display: block;
    background-color: #16a34a;
    height: 40px;
    color: white;
    font-size: 1.1em;
}
.card {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
border: none;
margin: auto;
width: 250px;
height: 400px;
color: #163662;
}
#card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 1400px;
    margin: auto;

}
body{
    background-color: #efe6da;
}
.pet-image {
width: 100%;
height: 290px;
}