:root {
    --background-color: #fff9e5;
    --primary-color: #66d0f3;
    --text-primary: #0f4a77;
    --text-secondary: #00275a;
    --text-tertiary: #001439;
    --card-bg: #fffcee;
    --accent-color: #ed7152;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #86e5fb;
}

nav .title {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 0;
        padding: 0;
        color: var(--text-primary);
        font-weight: bolder;
    }

    span {
        margin: 0;
        padding: 0;
        color: var(--text-primary);
        font-weight: 600;
    }
}

nav .nav-options {
    display: flex;
    gap: 50px;

    a {
        text-decoration: none;
        font-weight: 600;
        color: var(--text-secondary);
        padding: 10px 20px;
        border-radius: 10px;
    }

    a:hover {
        color: var(--text-tertiary);
        background-color: var(--primary-color);
    }
}

.hero {
    background-color: #86e5fb;
    height: 50vh;
    padding: 20px;

    .hero-content {
        display: flex;
        flex-direction: column;
        width: 40vw;
        height: 100%;
        gap: 20px;
        justify-content: center;

        h2 {
            color: var(--text-primary);
            font-weight: bolder;
            font-size: 2.5rem;
        }

        p {
            color: var(--text-primary);
            font-weight: 600;
            font-size: 1.2rem;
        }

        button {
            width: 130px;
            background-color: var(--accent-color);
            padding: 10px 20px;
            border-radius: 10px;
            color: white;
            font-weight: 600;
            border: none;
            cursor: pointer;
        }
    }
}

.pets-catalog {
    padding: 20px;

    h2 {
        color: var(--text-primary);
        font-weight: bolder;
        font-size: 2rem;
    }

    .pets-catalog-container {
        display: flex;
        justify-content: space-between;
    }

    .pet {
        background-color: var(--card-bg);
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .content {
            h3 {
                color: var(--text-primary);
                font-weight: bolder;
                font-size: 1.5rem;
            }

            button {
                border-radius: 30px;
                padding: 10px 20px;
                color: white;
                border: none;
                cursor: pointer;
            }

        }

        #fire button {
            background-color: #ef7451;
        }

        #water button {
            background-color: #59cbef;
        }

        #air button {
            background-color: #8ac96e;
        }
    }
}